.btn {
    --btn-background-h: 0;
    --btn-background-s: 0%;
    --btn-background-l: 26%;
    --btn-background-triple: var(--btn-background-h), var(--btn-background-s), var(--btn-background-l);
    --btn-background: hsl(var(--btn-background-triple));

    --btn-color: #fff;
    --btn-border: var(--btn-background);

    display: inline-flex;
    align-items: center;
    height: 36px;
    font-size: 20px;
    color: var(--btn-color);
    background: var(--btn-background);
    border: 1px solid var(--btn-border);
    border-radius: 4px;
    padding: 0 10px;
    margin: 0 5px;
    transition: all .2s;
}

.btn:hover {
    --btn-background-l: 10%;
 }

.btn--light {
    --btn-background-h: 0;
    --btn-background-s: 0%;
    --btn-background-l: 100%;

    --btn-color: #424242;
}

.btn--light:hover {
    --btn-background-l: 80%;
}

.btn--primary {
    --btn-background-h: 66;
    --btn-background-s: 70%;
    --btn-background-l: 68%;

    --btn-color: #424242;
}

.btn--primary:hover {
    --btn-background-l: 58%;
}

[data-theme='dark'] .btn {
    --btn-border: #fff;
}

[data-theme='dark'] .btn--primary {
    --btn-border: var(--btn-background);
}

.theme-new .btn {
    --btn-background: #90CAF9;
}
